fastapi==0.103.1
uvicorn==0.23.2
pandas==2.2.3  # Use the version you used for training
numpy==1.26.4  # Use the EXACT version you used for training
scikit-learn==1.6.1  # Use the version you used for training
joblib==1.4.2
python-jose==3.4.0
python-multipart==0.0.6
xgboost==3.0.0
shap==0.41.0
matplotlib==3.7.1